<h1>Saved</h1>
<div id="articles">
    {{#if articles.length}}
        {{#each articles}}
        <h2>
            <a href="{{link}}">{{title}}</a>
        </h2>
        <div>{{description}}</div>
        <button class="delete" data-article-id="{{_id}}">Delete</button>
        <button onclick="alert('not implemented yet')">Notes</button>
        {{/each}}
    {{else}}
        <h3>Sorry, no articles are saved. Please scrape first.</h3>
        <button onclick="document.location.href='/scrape'">Scrape</button>
    {{/if}}
</div>
